:root{
  --mv-yellow: #FED100;
  --mv-blue:   #5274D9;
  --mv-black:  #0D0D0D;
  --mv-light:  #F2F2F2;
  --mv-navy:   #1D2C59;

  --radius-xl: 18px;
  --shadow-sm: 0 8px 24px rgba(0,0,0,.12);

  --maxw: 1120px;

  --font-sans: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial, "Noto Sans", "Helvetica Neue", sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --text: rgba(255,255,255,.86);
  --muted: rgba(255,255,255,.68);
}
