---
const { title = "Mundos Virtuales", description = "Automatización industrial y gestión del efectivo." } = Astro.props;
import "../styles/global.css";
---
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  </head>
  <body>
    <slot />
  </body>
</html>
